In [1]:
# Census API Key

API_KEY = '095345a384263f9c1f947f8f1252a6f6f274697e'

In [2]:
# import pandas to handle data, censusgeocode to geocode batches

import censusgeocode
import pandas as pd
import requests
import os
import time

path = './files'

In [3]:
df = pd.read_csv("student_address_tract.txt", sep = "|", encoding = 'unicode_escape', dtype=str)

In [4]:
df.shape
# studentDF.shape

(309122, 8)

In [5]:
df.dtypes
# studentDF.dtypes

District Number       object
NAME                  object
Number of Students    object
PERMADDR1             object
PERMCITY              object
PERMSTATE             object
PERMZIP               object
Census Tract          object
dtype: object

In [6]:
df

,District Number,NAME,Number of Students,PERMADDR1,PERMCITY,PERMSTATE,PERMZIP,Census Tract
0,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 BENJAMIN RD,NATCHEZ,MS,39120,NaN
1,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 CHINKAPIN DR,NATCHEZ,MS,39120,NaN
2,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 CINDY LN,NATCHEZ,MS,39120,NaN
3,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 CLEOTHIA HENYARD HTS,NATCHEZ,MS,39120,NaN
4,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 COUNTRY SQUIRE RD,NATCHEZ,MS,39120,NaN
...,...,...,...,...,...,...,...,...
309117,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 544,YAZOO CITY,MS,39194,NaN
309118,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 642,YAZOO CITY,MS,39194,NaN
309119,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 734,YAZOO CITY,MS,39194,NaN
309120,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 875,YAZOO CITY,MS,39194,NaN
309121,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,WINDSOR ESTATES APT 20C,YAZOO CITY,MS,39194,NaN

In [8]:
df = df[['PERMADDR1', 'PERMCITY', 'PERMSTATE', 'PERMZIP']].copy()

In [9]:
# if you want to operate on multiple columns, put them in a list like so:
cols = ['PERMADDR1', 'PERMCITY', 'PERMSTATE', 'PERMZIP']

# pass them to df.replace(), specifying each char and it's replacement:
df[cols] = df[cols].replace({',': ''}, regex=True)

In [ ]:
n = 10000  #chunk row size
# list_df = [df[i:i+n] for i in range(0,df.shape[0],n)]
list_df = [df[i:i+n] for i in range(0,df.shape[0],n)]

In [ ]:
batch = 0

for list in list_df:
    output_file = os.path.join(path,'batch'+str(batch)+'.csv')
    list.to_csv(output_file, header=False)
    batch += 1

In [10]:
url = 'https://geocoding.geo.census.gov/geocoder/geographies/addressbatch?form'
payload = {'benchmark':'Public_AR_Current', 'vintage':'Current_Current',}   
results = ''

dfResult = pd.DataFrame()

files = {'addressFile': open(os.path.join(path,'batch0.csv'))}
r = requests.post(url, files=files, data=payload)
j = r.json()
dfresult.append(pd.DataFrame.from_dict(j))

JSONDecodeError: Extra data: line 1 column 7 (char 6)

In [ ]:
for file in os.listdir(path):
    files = {'addressFile': open(os.path.join(path,file))}
    r = requests.post(url, files=files, data=payload)
    j = r.json()
    dfresult.append(pd.DataFrame.from_dict(j))
    results += str(r.text)

In [ ]:
results