In [75]:
# Census API Key

API_KEY = '095345a384263f9c1f947f8f1252a6f6f274697e'

In [3]:
# import pandas to handle data, censusgeocode to geocode batches

import pandas as pd
import requests

In [4]:
df = pd.read_csv("student_address_tract.txt", sep = "|", encoding = 'unicode_escape', dtype=str)

In [7]:
df

,District Number,NAME,Number of Students,PERMADDR1,PERMCITY,PERMSTATE,PERMZIP,Census Tract
0,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 BENJAMIN RD,NATCHEZ,MS,39120,NaN
1,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 CHINKAPIN DR,NATCHEZ,MS,39120,NaN
2,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 CINDY LN,NATCHEZ,MS,39120,NaN
3,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 CLEOTHIA HENYARD HTS,NATCHEZ,MS,39120,NaN
4,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 COUNTRY SQUIRE RD,NATCHEZ,MS,39120,NaN
...,...,...,...,...,...,...,...,...
309117,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 544,YAZOO CITY,MS,39194,NaN
309118,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 642,YAZOO CITY,MS,39194,NaN
309119,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 734,YAZOO CITY,MS,39194,NaN
309120,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,PO BOX 875,YAZOO CITY,MS,39194,NaN
309121,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,WINDSOR ESTATES APT 20C,YAZOO CITY,MS,39194,NaN

In [6]:
for index, row in df.iterrows():
for address in df.rows:
    print(address)
#     cg.address('1600 Pennsylvania Avenue', city='Washington', state='DC', zipcode='20006')

AttributeError: 'DataFrame' object has no attribute 'rows'

In [21]:
studentDF.shape

(309122, 8)

In [40]:
studentDF.dtypes

District Number       object
NAME                  object
Number of Students    object
PERMADDR1             object
PERMCITY              object
PERMSTATE             object
PERMZIP               object
Census Tract          object
dtype: object

In [50]:
df = studentDF[['PERMADDR1', 'PERMCITY', 'PERMSTATE', 'PERMZIP']].copy()

In [72]:
# if you want to operate on multiple columns, put them in a list like so:
cols = ['PERMADDR1', 'PERMCITY', 'PERMSTATE', 'PERMZIP']

# pass them to df.replace(), specifying each char and it's replacement:
df[cols] = df[cols].replace({',': ''}, regex=True)

In [73]:
n = 10000  #chunk row size
list_df = [df[i:i+n] for i in range(0,df.shape[0],n)]

In [74]:
batch = 0

for list in list_df:
    list.to_csv('batch'+str(batch)+'.csv', header=False)
    batch += 1

In [63]:
batch = 0
start = 0
end = 9999

while end < len(df):
    df[start:end].to_csv('batch'+str(batch)+'.csv', header=False)
    start = end + 1
    end += 9999
    batch += 1

In [54]:
cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Census2010',vintage='Census2010_Census2010')
k = cg.addressbatch('D:\WORK\Addresses.csv')

"<p> While attempting to geocode your batch input, the Census Geocoder encountered an error from which it cannot recover. This may be caused by the fact that the Census Geocoder is experiencing a period of high usage, is unable to connect to a service it is dependent on, or the batch file contains a formatting error or  invalid data type. Please verify your batch file and resubmit your batch query again later.<p>More information and documentation (available in HTML and PDF formats) about the Census Geocoder and how to use it can be found here: <a href='https://geocoding.geo.census.gov/geocoder/'>https://geocoding.geo.census.gov/</a></p>"

In [30]:
addresses = (studentDF['PERMADDR1'] + ',' + studentDF['PERMCITY'] + ',' + studentDF['PERMSTATE'] + ',' + studentDF['PERMZIP']).tolist()

In [31]:
len(addresses)

309122

In [33]:
addresses.to_csv('list.csv', index=False)

AttributeError: 'list' object has no attribute 'to_csv'