In [48]:
import pandas as pd

In [49]:
resultAllDF = pd.read_csv("files/result.csv", header=None, names=range(8))

In [50]:
resultMatchDF = resultAllDF[resultAllDF[2]== 'Match']

In [51]:
resultMatchDF.shape

(235992, 8)

In [52]:
resultMatchDF

,0,1,2,3,4,5,6,7
0,4970,"1321 MEIGG ST, CORINTH, MS, 38834",Match,Exact,"1321 Meigg St, CORINTH, MS, 38834","-88.51247,34.927795",91049193.0,R
2,4971,"1323 WICK ST, CORINTH, MS, 38834",Match,Exact,"1323 Wick St, CORINTH, MS, 38834","-88.51234,34.930706",91049094.0,R
3,2306,"122 CR 179, CORINTH, MS, 38834",Match,Exact,"122 Co Rd 179, CORINTH, MS, 38834","-88.39534,34.941013",91061706.0,R
4,3638,"4 CR 251, GLEN, MS, 38846",Match,Exact,"4 Co Rd 251, GLEN, MS, 38846","-88.43721,34.89189",91056873.0,L
5,4969,"1320 WICK ST, CORINTH, MS, 38834",Match,Exact,"1320 Wick St, CORINTH, MS, 38834","-88.51247,34.93071",91049094.0,L
...,...,...,...,...,...,...,...,...
309117,92396,"11116 GRACE RD, PASS CHRISTIAN, MS, 39571",Match,Exact,"11116 Grace Rd, PASS CHRISTIAN, MS, 39571","-89.26236,30.44799",624972190.0,L
309118,91062,"203 N LANG AVE, LONG BEACH, MS, 39560",Match,Exact,"203 N Lang Ave, LONG BEACH, MS, 39560","-89.17037,30.347141",111376636.0,L
309119,92393,"11100 FIRE TOWER RD, PASS CHRISTIAN, MS, 39571",Match,Non_Exact,"11100 Firetower Rd, PASS CHRISTIAN, MS, 39571","-89.27994,30.443674",111372880.0,R
309120,91063,"20359 HAYES RD, LONG BEACH, MS, 39560",Match,Exact,"20359 Hayes Rd, LONG BEACH, MS, 39560","-89.18142,30.402952",111392541.0,R
309121,92394,"11100 JULIE DR, PASS CHRISTIAN, MS, 39571",Match,Exact,"11100 Julie Dr, PASS CHRISTIAN, MS, 39571","-89.27788,30.444334",111392360.0,L

In [53]:
df = pd.read_csv("student_address_tract.txt", sep = "|", encoding = 'unicode_escape', dtype=str)

In [54]:
df.shape

(309122, 8)

In [55]:
merged = pd.merge(df, resultMatchDF, left_index=True, right_on=[0])

In [56]:
merged.shape

(235992, 16)

In [57]:
merged

,District Number,NAME,Number of Students,PERMADDR1,PERMCITY,PERMSTATE,PERMZIP,Census Tract,0,1,2,3,4,5,6,7
38,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 BENJAMIN RD,NATCHEZ,MS,39120,NaN,0,"1 BENJAMIN RD, NATCHEZ, MS, 39120",Match,Exact,"1 Benjamin Rd, NATCHEZ, MS, 39120","-91.36395,31.480803",79851184.0,L
41,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 CHINKAPIN DR,NATCHEZ,MS,39120,NaN,1,"1 CHINKAPIN DR, NATCHEZ, MS, 39120",Match,Exact,"1 Chinkapin Dr, NATCHEZ, MS, 39120","-91.36193,31.589205",79847144.0,R
43,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 CINDY LN,NATCHEZ,MS,39120,NaN,2,"1 CINDY LN, NATCHEZ, MS, 39120",Match,Exact,"1 Cindy Ln, NATCHEZ, MS, 39120","-91.34634,31.565126",610791500.0,L
47,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 COUNTRY SQUIRE RD,NATCHEZ,MS,39120,NaN,4,"1 COUNTRY SQUIRE RD, NATCHEZ, MS, 39120",Match,Exact,"1 Country Squire Rd, NATCHEZ, MS, 39120","-91.37414,31.47159",610793230.0,L
49,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 E MAXIE CT,NATCHEZ,MS,39120,NaN,5,"1 E MAXIE CT, NATCHEZ, MS, 39120",Match,Exact,"1 E Maxie Ct, NATCHEZ, MS, 39120","-91.331,31.55447",79850916.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246559,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,2,930 JACKSON AVE,YAZOO CITY,MS,39194,NaN,309109,"930 JACKSON AVE, YAZOO CITY, MS, 39194",Match,Exact,"930 Jackson Ave, YAZOO CITY, MS, 39194","-90.40163,32.858894",152203677.0,R
246512,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,931 PRENTISS AVE,YAZOO CITY,MS,39194,NaN,309110,"931 PRENTISS AVE, YAZOO CITY, MS, 39194",Match,Exact,"931 Prentiss Ave, YAZOO CITY, MS, 39194","-90.409256,32.86205",152213463.0,L
246513,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,3,936 GRADY AVE,YAZOO CITY,MS,39194,NaN,309111,"936 GRADY AVE, YAZOO CITY, MS, 39194",Match,Exact,"936 Grady Ave, YAZOO CITY, MS, 39194","-90.39776,32.857853",152210899.0,R
246510,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,946 GRADY AVE,YAZOO CITY,MS,39194,NaN,309112,"946 GRADY AVE, YAZOO CITY, MS, 39194",Match,Exact,"946 Grady Ave, YAZOO CITY, MS, 39194","-90.39772,32.857906",152210899.0,R
246521,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,970 PINELAND DR,YAZOO CITY,MS,39194,NaN,309114,"970 PINELAND DR, YAZOO CITY, MS, 39194",Match,Exact,"970 Pineland Dr, YAZOO CITY, MS, 39194","-90.39962,32.840866",607722119.0,L

In [58]:
merged = merged.drop(columns = [0, 1, 2, 3, 4, 6, 7])

In [47]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in merged[5]:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
merged['lat'] = lat
merged['lon'] = lon

KeyError: 5

In [59]:
merged

,District Number,NAME,Number of Students,PERMADDR1,PERMCITY,PERMSTATE,PERMZIP,Census Tract,5
38,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 BENJAMIN RD,NATCHEZ,MS,39120,NaN,"-91.36395,31.480803"
41,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 CHINKAPIN DR,NATCHEZ,MS,39120,NaN,"-91.36193,31.589205"
43,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 CINDY LN,NATCHEZ,MS,39120,NaN,"-91.34634,31.565126"
47,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 COUNTRY SQUIRE RD,NATCHEZ,MS,39120,NaN,"-91.37414,31.47159"
49,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 E MAXIE CT,NATCHEZ,MS,39120,NaN,"-91.331,31.55447"
...,...,...,...,...,...,...,...,...,...
246559,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,2,930 JACKSON AVE,YAZOO CITY,MS,39194,NaN,"-90.40163,32.858894"
246512,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,931 PRENTISS AVE,YAZOO CITY,MS,39194,NaN,"-90.409256,32.86205"
246513,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,3,936 GRADY AVE,YAZOO CITY,MS,39194,NaN,"-90.39776,32.857853"
246510,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,946 GRADY AVE,YAZOO CITY,MS,39194,NaN,"-90.39772,32.857906"
246521,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,970 PINELAND DR,YAZOO CITY,MS,39194,NaN,"-90.39962,32.840866"

In [63]:
merged = merged.rename(columns={5: 'latlng'})
# merged = merged.drop(columns = [5])

In [64]:
merged

,District Number,NAME,Number of Students,PERMADDR1,PERMCITY,PERMSTATE,PERMZIP,Census Tract,latlng
38,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 BENJAMIN RD,NATCHEZ,MS,39120,NaN,"-91.36395,31.480803"
41,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 CHINKAPIN DR,NATCHEZ,MS,39120,NaN,"-91.36193,31.589205"
43,0130,NATCHEZ-ADAMS SCHOOL DIST,2,1 CINDY LN,NATCHEZ,MS,39120,NaN,"-91.34634,31.565126"
47,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 COUNTRY SQUIRE RD,NATCHEZ,MS,39120,NaN,"-91.37414,31.47159"
49,0130,NATCHEZ-ADAMS SCHOOL DIST,1,1 E MAXIE CT,NATCHEZ,MS,39120,NaN,"-91.331,31.55447"
...,...,...,...,...,...,...,...,...,...
246559,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,2,930 JACKSON AVE,YAZOO CITY,MS,39194,NaN,"-90.40163,32.858894"
246512,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,931 PRENTISS AVE,YAZOO CITY,MS,39194,NaN,"-90.409256,32.86205"
246513,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,3,936 GRADY AVE,YAZOO CITY,MS,39194,NaN,"-90.39776,32.857853"
246510,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,946 GRADY AVE,YAZOO CITY,MS,39194,NaN,"-90.39772,32.857906"
246521,8220,YAZOO CITY MUNICIPAL SCHOOL DIST,1,970 PINELAND DR,YAZOO CITY,MS,39194,NaN,"-90.39962,32.840866"

In [65]:
merged.to_json(r'merged.json', orient='records')